.club-schedule-container {
  background-color: #f9f9f9;
  padding: 15px;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow the containers to take up equal space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */

}

@media (max-width: 768px) {
  .club-schedule-container {
    flex-direction: column;
    height: auto; /* Allow containers to expand naturally on smaller screens */
    width: 100%; /* Ensure the container takes full width on mobile */
  }
}