
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}


.home-container {
  background-image: url('../assets/home_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full height of the viewport */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
  padding-top: 20px; /* Add padding to separate from the header */
  padding-bottom: 20px; /* Add padding to separate from the header */
  flex: 1;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Set a maximum width for the container */
  height: calc(100vh - 100px); /* Adjust height to fit within the viewport, subtracting header height */
  gap: 20px; /* Space between Announcements and LinkManagement */
}

.news-container,
.link-management-container {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow the containers to take up equal space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 0;
}


@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    height: auto; /* Allow containers to expand naturally on smaller screens */
    width: 100%; /* Ensure the container takes full width on mobile */
  }

  .news-container,
  .link-management-container {
    margin-bottom: 20px; /* Add space between the components when stacked */
    height: auto; /* Allow the containers to expand based on content */
    flex: none; /* Remove flex behavior to allow natural height */
    max-height: none; /* Remove any height restrictions */
  }
}
